body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f4f4f4;
}

.container{
  background: white;
  padding: 20px;
  border-radius: .65em;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
}

h1 {
  text-align: center;
}

section .formulario {
  margin: 1%;
}

label {
  display: block;
  margin: 2.5% 0 .5%;
  font-weight: 525;
}

input[type="text"],
select {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border-radius: .3em;
  border: solid 1px;
  font-size: 1em;
}

fieldset{
    border-radius: .3em;
}

input[type="checkbox"],[type="radio"]{
    margin-top: 5%;
}

#opcoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}

button {
  background-color: rgba(100, 2, 146, 0.75);
  color: white;
  font-size: 1.2em;
  border: none;
  padding: .65em;
  width: 100%;
  cursor: pointer;
  border-radius: .3em;
}

button:hover {
  background-color: rgb(101, 2, 146);
  box-shadow: 1px 1px 5px rgb(40, 0, 58);
}

.resultado {
  gap: 25%;
  margin-top: 2%;
  background: #e2e3e5;
  padding: 1% 4%;
  border-radius: .5em;
  border-left: solid .5em rgba(101, 2, 146, 0.75);
}
